:root {
    --color: #0b0033ff;
    --text-color: whitesmoke;
    --complement: #bf9acaff;
    --background: #8e4162ff;
    --background-middle: #028090ff;
    --background-body: #0090c1ff;
}
body{
    background-color: var(--background-body);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.menu{
    border: 2px solid var(--color);
    background-color: var(--background-middle);
    color: var(--text-color);
    border-radius: 10px;
    margin-left:20%;
    margin-right:20%;

    transition: background-color 0.3s ease;
}
.navlist{
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}
li {
    margin: 10px;
}
li a {
    padding: 0px;
}
.navtext{
    background-color: var(--background-middle);
    color: var(--text-color);
    font-size: 50px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    transition: background-color 0.3s ease;
}
.navtext:hover{
    background-color:var(--background-body);
    cursor:pointer;
}
section{
    border: 5px solid var(--color);
    background-color: var(--background);
    color: var(--color);
    margin-top: 5px;
    margin-right: 20%;
    margin-left: 20%;
}
article{
    position:relative;
}
h2{
    font-weight:600;
    font-size:100px;
}
h3{
    float:left;
    font-weight:500;
    font-size:50px;
    margin-left:20px;
}
figcaption{
    transform:rotate(-20deg);
    background-color: var(--complement);
    border: 3px solid var(--color);
    box-shadow: 5px 5px;
    border-radius: 10px;
    margin-left: 40%;
    margin-right: 25%;
    text-align:center;
    position:relative;
    top: -355px;
    left: 405px;
}
figure {
    margin-bottom:-70px;
}
.bodyimg{
    border: 5px solid var(--text-color);
    box-shadow: 5px 5px;
    position: relative;
    width: 50%;
    height: 50%;
    transform: rotate(-20deg);
    top: -350px;
    left: 400px;
}
.projecttext{
    float:left;
    font-weight:400;
    font-size:30px;
    position: relative;
    top: 0;
    left: 0;
    right: 50%;
    margin-right:50%;
}
.contacttext {
    font-size: 50px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    margin-top:auto;
    margin-bottom:40px;
}
.footertext {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}