:root {
    --color: #0b0033ff;
    --text-color: whitesmoke;
    --complement: #bf9acaff;
    --background: #8e4162ff;
    --background-middle: #028090ff;
    --background-body: #0090c1ff;
}
body{
    background-color: var(--background-body);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.menu{
    border: 2px solid var(--color);
    background-color: var(--background-middle);
    color: var(--text-color);
    border-radius: 10px;
    

    transition: background-color 0.3s ease;
}
.navlist{
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}
li {
    margin: 10px;
}
li a {
    padding: 0px;
}
.navtext{
    background-color: var(--background-middle);
    color: var(--text-color);
    font-size: 50px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    transition: background-color 0.3s ease;
}
.navtext:hover{
    background-color:var(--background-body);
    cursor:pointer;
}
section{
    background-color: var(--background);
    color: var(--color);
}

img{
    filter: drop-shadow(5px, 5px);
}